<div>
	<app-dependency-injection></app-dependency-injection>
	<app-wikipedia-search></app-wikipedia-search>
	<!-- <app-hello-world></app-hello-world> -->
	<!-- <app-nav-bar
		(titleSearch)="onTitleSearch($event)">
			
	</app-nav-bar>

	<h4>This widget auto focuses on input</h4>
	<app-widget-three></app-widget-three>

	<app-home></app-home>

	<div *ngIf="showMovies">
		<h1>Movie Results</h1>
		<app-movie-list
			[movies] = "movies"
		>
			
		</app-movie-list>
	</div>
 -->
<!-- 	<button (click)="onClickShow()">Show movie list!!!!</button>
	<div *ngIf="showMovies">
		<h1>Movie Results</h1>
		<app-movie-list
			[movies] = "movies"
		>
			
		</app-movie-list>
	</div>


	<h2>Look at some shit</h2>
	<ul>
		<li *ngFor="let thing of mail.favThings">{{thing.text}}</li>
	</ul>
	
	<h2>Edit some shit</h2>
	<ul>
		<app-simple-form 
			*ngFor="let thing of mail.favThings"
			[thing] = "thing.text"
			(update) = "onUpdate(thing.id, $event.text)"
		>
			
		</app-simple-form>
	</ul> -->	
</div>